@media (max-width: 1200px) {
  .banner-section-slider-item img {
    max-width: 600px;
    min-height: 400px;
  }

  .banner-section-inner {
    justify-content: space-around;
  }

  .banner-section-slider {
    max-width: 600px;
  }
}

@media (max-width: 1100px) {
  .menu-item+.menu-item {
    padding-left: 20px;
  }

  .header-address {
    margin-right: 20px;

  }
}

@media (max-width: 968px) {
  .header-bottom {
    display: none;
  }

  .mobile-menu-line-wrapper {
    display: block;
  }

  .mobile-menu-line {
    display: block;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
    padding: 15px 0 15px 10px;
    background: #F0F0F4;
    min-width: 450px;
  }

  .menu-list {
    display: none;
  }

  .header-menu-button {
    display: block;
  }

  .banner-section-inner {
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .banner-section-slider {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .banner-section-slider-item img {
    max-width: 100%;
  }

  .swiper-button-next1,
  .swiper-button-prev1 {
    display: none;
  }

  .banner-section>.container {
    padding: 0;
  }

  .mobile-wrapper {
    overflow-x: scroll;
  }

  .search-tabs {
    width: 980px;
  }
}

@media (max-width: 640px) {
  .header-address {
    display: none;
  }

  .banner-section-slider {
    height: 300px;
  }

  .banner-section-slider-item img {
    min-height: 300px;
  }
}

@media (max-width: 470px) {
  .banner-section-slider {
    height: 164px;
  }

  .banner-section-slider-item img {
    min-height: 164px;
  }
}

@media (max-width: 450px) {
  .mobile-wrapper {
    overflow-x: scroll;
  }
}
