@media (max-width: 1200px) {
  .banner-section-slider-item img {
    max-width: 600px;
    min-height: 400px;
  }

  .banner-section-inner {
    justify-content: space-around;
  }

  .banner-section-slider {
    max-width: 600px;
  }

  .section-categories-inner {
    justify-content: space-around;
  }

  .popular-products-footer {
    margin-top: 73px;
  }
}

@media (max-width: 1100px) {
  .menu-item+.menu-item {
    padding-left: 20px;
  }

  .header-address {
    margin-right: 20px;
  }
}

@media (max-width: 968px) {
  .header-bottom {
    display: none;
  }

  .mobile-menu-line-wrapper {
    display: block;
  }

  .mobile-menu-line {
    display: block;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
    padding: 15px 0 15px 10px;
    background: #F0F0F4;
    min-width: 450px;
  }

  .menu-list {
    display: none;
  }

  .header-menu-button {
    display: block;
  }

  .banner-section-inner {
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .banner-section-slider {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .banner-section-slider-item img {
    max-width: 100%;
  }

  .swiper-button-next1,
  .swiper-button-prev1 {
    display: none;
  }

  .banner-section>.container {
    padding: 0;
  }

  .mobile-wrapper {
    overflow-x: scroll;
  }

  .search-tabs,
  .popular-products-tabs {
    width: 980px;
  }

  .footer-top-inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-top-item+.footer-top-item {
    padding-left: 0px;
  }

  .footer-top-item {
    margin-bottom: 25px;
  }

  .footer-form {
    justify-content: space-between;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: start;
  }

  .footer-bottom-link {
    margin: 0 0 12px 0;
  }
}

@media (max-width: 640px) {
  .header-address {
    display: none;
  }

  .banner-section-slider {
    height: 300px;
  }

  .banner-section-slider-item img {
    min-height: 300px;
  }

  .search-content-form {
    position: relative;
  }

  .search-submit {
    display: none;
  }

  .search-input {
    padding-right: 50px;
    height: 50px;
    ;
  }

  .search-image {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    background-image: url('../images/search-big.svg');
    right: 13px;
    bottom: 12px;
    border: none;
  }

  .banner-link {
    width: 100%;
    ;
  }

  .banner-img {
    display: none;
  }

  .banner-img-mobile {
    display: flex;
  }

  .footer-top-title-drop {
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.0861538px;
    color: #7F7F7F;
    padding: 16px 43px 16px 6px;
    margin: 0;
    position: relative;
  }

  .footer-top-item-drop {
    padding-left: 0px;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid #F9F9FC;
  }

  .footer-list {
    display: none;
  }

  .footer-top-item:first-of-type {
    margin-bottom: 41px;
  }

  .footer-top-item:nth-child(2) {
    border-top: 2px solid #F9F9FC;
  }

  .footer-top-title-drop::after {
    content: "";
    width: 12px;
    position: absolute;
    height: 8px;
    right: 12px;
    bottom: 20px;
    background-image: url("../images/arrow-down.svg");
  }

  .footer-top-title-drop-active::after {
    transform: rotate(180deg);
  }

  .footer-top-item:last-of-type {
    margin: 41px 0 0;
  }

  .footer-form input {
    width: 100%;
  }

  .footer-bottom {
    margin-top: 36px;
  }
}

@media (max-width: 470px) {
  .banner-section-slider {
    height: 164px;
  }

  .banner-section-slider-item img {
    min-height: 164px;
  }
}

@media (max-width: 450px) {
  .mobile-wrapper {
    overflow-x: scroll;
  }

  .category {
    padding: 20px 10px 15px;
  }
}
